<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>springs_clima.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85E0676720193F7A00364B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E0677B20193F7C00364B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E0678620193F7C00364B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
